@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


body {
    font-family: 'Fjalla One', sans-serif;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    background-color:  #283747;
}

h1 {
    margin-top: 2.5rem;
    font-size: 3rem;
    color: rgb(93, 238, 149);
}


.screen {
    margin-top: 2.5rem;
    cursor: pointer;
    width: 60%;
    background-color: black;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.controls {
    background-color: #333;
    width: 60%;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
    padding-top: 10px;
}

.controls > .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-stop {
    color: #dc3545;
}

.controls .fa-play {
    color: #28A745;
}

.controls .fa-pause {
    color: #fff;
}

.controls .timestamp {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.btn:focus { 
    outline: 0;
}

#audio {
    width: 20%;
    margin-left: 1rem;
    margin: 5px 10px;
}

footer {
    color: white;
    letter-spacing: .06rem;
    margin-top: 2rem;
}


@media (max-width: 800px) {
    .screen, .controls {
        width: 80%;
    }
}
